<div class="col-xs-12" ng-controller="NewsCtrl" ng-init="init()">
 <div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="url in rssUtente.RssSelected" ng-init="news = getRssFeed(url)" ng-model="news">
    <div class="thumbnail">
      <img src="../immagini/sfondo.jpg" alt="...">
      <div class="caption">
        <h3>{{new.Title}}</h3>
        <p>{{news.Text}}</p>
        <p> <a href="#" class="btn btn-default" role="button">Continua a leggere</a></p>
      </div>
    </div>
  </div>
</div>
</div>
